<section class="block-group">
  {% content_for 'blocks' %}
</section>

{% schema %}
{
  "name": "Group",
  "presets": [
    {
      "name": "Group",
      "category":"layout"
    }
  ]
}
{% endschema %}